In [1]:
import pandas as pd
import numpy as np

In [2]:
booking = pd.read_csv(r'file:///C:\Users\User\Desktop\Exel\bookings.csv', sep = ';')

## Посмотрим на таблицу и проверим корректно ли считались данные

In [3]:
booking.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [4]:
booking.tail()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [5]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

## Переименуем столбцы для того,чтобы с ними было удобно работать

In [6]:
for i in booking.columns:
    booking = booking.rename(columns = {i: i.lower().replace(' ', '_')})
booking.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

## У колонок с датами несоответствующие им типы данных. Заменим их на datetime

In [7]:
booking[['arrival_full_date', 'reservation_status_date']] = \
  booking[['arrival_full_date', 'reservation_status_date']].astype('datetime64')

## Снова проверим типы данных

In [8]:
booking.dtypes

hotel                                object
is_canceled                           int64
lead_time                             int64
arrival_full_date            datetime64[ns]
arrival_date_year                     int64
arrival_date_month                   object
arrival_date_week_number              int64
arrival_date_day_of_month             int64
stays_in_weekend_nights               int64
stays_in_week_nights                  int64
stays_total_nights                    int64
adults                                int64
children                            float64
babies                                int64
meal                                 object
country                              object
reserved_room_type                   object
assigned_room_type                   object
customer_type                        object
reservation_status                   object
reservation_status_date      datetime64[ns]
dtype: object

## Отлично. Теперь с этими данными можно работать

## Посмотрим на топ-5 стран по числу успешных бронирований

In [9]:
top5_successful = booking.query('is_canceled == 0')\
  .groupby('country', as_index = False).agg({'is_canceled': 'count'})\
  .sort_values('is_canceled', ascending = False).head(5)

top5_successful = top5_successful.rename(columns = {'is_canceled': 'num_of_successful'})

top5_successful

    country  num_of_successful
125     PRT              21071
57      GBR               9676
54      FRA               8481
50      ESP               6391
42      DEU               6069

## На сколько ночей  в среднем бронируют отели разных типов?

In [10]:
avg_nights = booking.groupby('hotel', as_index = False) \
  .agg({'stays_total_nights': 'mean'}).round(2)   

avg_nights = avg_nights.rename(columns = {'stays_total_nights': 'avg_num_of_nights'})

avg_nights

          hotel  avg_num_of_nights
0    City Hotel               2.98
1  Resort Hotel               4.32

In [11]:
t1 = booking.query('is_canceled == 1 and hotel == "City Hotel"') \
.groupby(['arrival_date_year', 'arrival_date_month'], as_index = False) \
.agg({'is_canceled':'count'}) \
.sort_values(['arrival_date_year', 'is_canceled'], ascending = [True, False])  \
.groupby('arrival_date_year').head(1)


t1

    arrival_date_year arrival_date_month  is_canceled
5                2015          September         1543
16               2016            October         1947
25               2017                May         2217

## Сколько раз приходилось менять забронированный номер из-за овербукинга?

In [12]:
num_of_room_changes = booking.query('reserved_room_type != assigned_room_type') \
  .agg({'reserved_room_type': 'count'})

num_of_room_changes = num_of_room_changes.rename({'reserved_room_type': 'num_of_room_changes'})

num_of_room_changes

num_of_room_changes    14917
dtype: int64

## В каком месяце чаще всего успешно оформляли бронь в 2016? Изменился ли он в 2017 году?

In [13]:
most_successful_month_2016 = booking.query('(is_canceled == 0) and (arrival_date_year == 2016)') \
  .arrival_date_month.value_counts() \
  .sort_values(ascending = False).head(1)

most_successful_month_2016

October    3689
Name: arrival_date_month, dtype: int64

In [14]:
most_successful_month_2017 = booking.query('(is_canceled == 0) and (arrival_date_year == 2017)') \
  .arrival_date_month.value_counts()\
  .sort_values(ascending = False).head(1)

most_successful_month_2017

May    3551
Name: arrival_date_month, dtype: int64

## Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [15]:
booking['total_kids'] = booking['children']+booking['babies']

most_kids_friendly = booking.groupby('hotel', as_index = False) \
  .total_kids.mean()\
  .sort_values('total_kids', ascending = False).round(2).head(1)

most_kids_friendly

          hotel  total_kids
1  Resort Hotel        0.14

##     Посмотрим как наличие детей связано с отменой бронирования

##     Для этого рассчитаем Churn Rate для группы клиентов с детьми и без детей и сравним коэффициенты

In [16]:
booking['has_kids'] = booking['total_kids'] > 0

In [17]:
booking['has_kids']

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [18]:
churn_rate_with_kids = \
  round((booking.query('is_canceled == 1 and has_kids == True').shape[0] / booking.query('has_kids == True').shape[0])*100, 2)

f'Churn Rate для клинтов с детьми: {churn_rate_with_kids}%'

'Churn Rate для клинтов с детьми: 34.92%'

In [19]:
churn_rate_without_kids = \
  round((booking.query('is_canceled == 1 and has_kids == False').shape[0] / booking.query('has_kids == False').shape[0])*100, 2)

f'Churn Rate для клинтов без детей: {churn_rate_without_kids}%'

'Churn Rate для клинтов без детей: 37.22%'

## Отток клиентов с детьми меньше, чем клиентов без детей